{% extends 'base.html' %}

{% block content %}

<div class="container py-5">

    <div class="row justify-content-center">
        <div class="col-lg-9">

            <article class="card shadow-sm border-0">

                <!-- Featured Image -->
                {% if post.featured_image %}
                <img src="{{ post.featured_image.url }}"
                     class="card-img-top img-fluid"
                     alt="{{ post.title }}"
                     style="max-height:500px; object-fit:cover;">
                {% endif %}

                <div class="card-body p-5">

                    <!-- Category -->
                    <a href="{% url 'posts_by_category' post.category.id %}" class="text-decoration-none">
                        <span class="badge bg-warning text-dark mb-3">
                            {{ post.category }}
                        </span>
                    </a>

                    <!-- Title -->
                    <h1 class="display-5 fw-bold mb-4">
                        {{ post.title }}
                    </h1>

                    <hr>

                    <!-- Blog Body -->
                    <div class="fs-5 lh-lg">
                        {{ post.blog_body|linebreaks }}
                    </div>
                         {% if user.is_authenticated %}
                    <a href="{% url 'delete_blog' post.id %}">
                        <button class="btn btn-danger">Delete</button>
                    </a>
                    {% endif %}

                     {% if user.is_authenticated %}
                    <a href="{% url 'add_comment' post.slug %}">
                        <button class="btn btn-warning">Add Comment</button>
                    </a>
                    {% endif %}

                        {% if user.is_authenticate %}
                     <a href="{% url 'edit_comment' post.pk %}">
                        <button class="btn btn-warning">Edit Comment</button>
                    </a>
                    {% endif %}
                    
                    {% if user.is_authenticated %}
                       <a href="{% url 'delete_comment' post.pk %}">
                        <button class="btn btn-warning">Delete Comment</button>
                    </a>
                    {% endif %}

                    <div class="container mt-2">
                         {% for comment in comments %}
                        <div class="card mb-3">
                            <div class="card-body">
                            <p>{{ comment.comment }}</p>
                            <small class="text-muted">
                                By {{ comment.user }}
                                • {{ comment.created_at|timesince }} ago
                            </small>
                            </div>
                        </div>
                        {% empty %}
                        <p><b>NO COMMENT/S YET!</b></p>
                         {% endfor %}
                    </div>
                    
                </div>
              
            </article>

        </div>
    </div>

</div>

{% endblock %}