{% extends 'base.html' %}

{% block content %}

<h1>Posts in {{ category }} category</h1>
<div class="row">
  {% for post in posts %}
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <a href="{% url 'post_detail_page' post.slug %}"  class="text-dark">
              <h3>{{ post.title }}</h3>
              <small class="text-muted">{{ post.created_at|timesince }} ago, {{ post.author }}</small>
              <p>{{ post.short_description }}</p>
          </a>
         
        </div>
      </div>
    </div>
  {% empty %}
    <p>No posts in this category yet.</p>
  {% endfor %}
</div>

{% endblock %}
