{% extends 'base.html' %}

{% block content %}

<h1>Headlines</h1>

<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
  {% if headline_post %}
    <a href="{% url 'post_detail_page' slug=headline_post.slug %}" class="text-white text-decoration-none">
      <div class="col-md-8 px-0">
        <img src="{{ headline_post.featured_image.url }}" alt="{{ headline_post.title }}">
        <h1 class="display-4 font-italic">{{ headline_post.title }}</h1>
        <small class="mb-1 text-muted">{{ headline_post.created_at|timesince }} ago, {{ headline_post.author }}</small>
        <p class="lead my-3">{{ headline_post.short_description|truncatewords:30 }}</p>
        <p class="lead mb-0"><span class="font-weight-bold">Continue reading...</span></p>
      </div>
    </a>
  {% endif %}
</div>

<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
  {% for post in featured_posts %}
  {% if forloop.first %}
    <a href="{% url 'post_detail_page' slug=post.slug %}" class="text-white text-decoration-none">
      <div class="col-md-8 px-0">
        <img src="{{ post.featured_image.url }}" alt="{{ post.title }}">
        <h1 class="display-4 font-italic">{{ post.title }}</h1>
        <small class="mb-1 text-muted">{{ post.created_at|timesince }} ago, {{ post.author }}</small>
        <p class="lead my-3">{{ post.short_description|truncatewords:30 }}</p>
        <p class="lead mb-0"><span class="font-weight-bold">Continue reading...</span></p>
      </div>
    </a>
  {% endif %}
  {% endfor %}
</div>

  <!--FEATURED POSTS DISPLAYED HERE-->

  <h2>Featured Post</h2>
  
<div class="row mb-2">
  {% for post in featured_posts %}
  {% if not forloop.first %}
    <a href="{% url 'post_detail_page' slug=post.slug %}" class="text-decoration-none text-dark">
      <div class="col-md-6">
        <div class="card border-0">
          <div class="card-body">
            <h3>{{ post.title }}</h3>
            <small class="mb-1 text-muted">
              {{ post.created_at|timesince }} ago, {{ post.author }}
            </small>
            <p class="card-text">{{ post.short_description|truncatewords:30 }}</p>
          </div>
        </div>
      </div>
    </a>
  {% endif %}
  {% endfor %}
</div>
<!--NORMAL POSTS DISPLAYED HERE-->

     <h2>Recent Articles</h2>
  
  <div class="row mb-2">
   {% for post in posts %}
   <a href="{% url 'post_detail_page' slug=post.slug %}" class="text-decoration-none text-dark">
      <div class="col-md-6">
        <div class="card border-0">
          <div class="card-body">
            <h3>{{ post.title }}</h3>
            <small class="mb-1 text-muted">{{ post.created_at|timesince }} ago, {{ post.author }}</small>
            <p class="card-text">{{ post.short_description | truncatewords:30 }}</p>
          </div>
        </div>
      </div>
   </a>
   {% endfor %}
</div>
  
<main role="main" class="container p-0">
    <div class="row">
      <div class="col-md-8 blog-main">

        <div class="blog-post">
          <h2 class="blog-post-title">Sample blog post</h2>
          <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>

          <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
         
          <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
         
          
        </div>
        <!-- /.blog-post -->

      </div>
      <!-- /.blog-main -->
       <aside class="col-md-4 blog-sidebar">

         {% include 'Bioblog/about_blog.html' %}

         {% include 'Bioblog/social_links.html' %}
         
       </aside>

     

  </main><!-- /.container -->

{% endblock %}